.menu {
  position: absolute;
  left: 15px;
  top: 15px;
  color: white;
}
.left-menu {
  color: #d7d7d7;
  position: absolute;
  top: 50px;
  width: 50px;
  min-height: 100%;
  background: rgba(227, 216, 216, 0.44);
}
.themes {
  position: absolute;
  left: 30%;
  top: 10rem;
}
