@media screen and (min-width: 750px) and (max-width: 800px) {
  .about-image {
    display: block;
    img {
      height: 130px;
      max-width: 650px;
    }
  }

  .about-text {
    position: absolute;
    top: 132px;
    left: 1.5rem;
    width: 550px;
    h1 {
      font-size: 21px;
    }
    p {
      font-size: 13px;
    }
  }
  .projects {
    position: absolute;
    top: 680px;
    left: -4rem;
  }
  .about-text-secondary {
    position: absolute;
    left: 6rem;
    width: 550px;
    p {
      font-size: 13px;
    }
  }
  .attempt {
    position: absolute;
    top: 245vh;
    width: 350px;
    left: 12rem;
  }

  .projects-rx {
    top: 300vh;
    left: -0.5rem;
  }
  .projects-python {
    top: 600vh;
  }
  .projects-sharp {
    top: 400vh;
    left: -0.5rem;
  }

  .about-text-c-sharp {
    position: absolute;
    top: 342vh;
    width: 550px;
    left: 6rem;
    font-size: 13px;
  }
  .about-text-python {
    position: absolute;
    top: 570vh;
    width: 550px;
    left: 6rem;
  }
}
