i {
  cursor: pointer;
}
.up {
  position: absolute;
  left: 80%;
}
.down {
  position: absolute;
  left: 70%;
}

p {
  height: 80px;
  width: 100%;
}
span {
  position: absolute;
  top: 6px;
  left: 19px;
  font-size: 14px;
}
