.mat-dialog-container {
  min-height: 400px;
  min-width: 400px;
  max-height: 900px;
  max-width: 100%;
  resize: both;
  color: black;
  .window-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    left: 0;
    h1 {
      position: absolute;
      left: 20%;
      top: 10px;
    }
    .top-btns {
      position: absolute;
      right: 0.3px;

      top: 0.3px;
      bottom: 2px;

      ul {
        display: inline-flex;
        li {
          top: 1px;
          bottom: 1px;
          right: 1px;
          text-align: center;
          align-items: center;
          padding: 13px;
          margin-left: 10px;
          color: white;
          transition: 0.3s all;
          &:last-child {
            &:hover {
              background: red;
              color: white;
              border-radius: 0 4px 0 0;
            }
          }
          &:hover {
            color: #fff;
            background: rgba(208, 200, 200, 0.44);
          }
        }
      }
    }
  }
}

.content {
  p {
    position: absolute;
    top: 6rem;
    left: 3rem;
  }
}
